@model IEnumerable<StoreYx.Models.Career>

@{
    ViewData["Title"] = "招贤纳士";
    ViewData["Banner"] = "我们期待着你的到来";
}
<partial name="_Banner" />
<div class="main">
    <div class="row justify-content-md-center">
        <div class="col-9">
            <div class="p-4 text-black bg-light fs-5 lh-base mb-5 text-black-50">
                
            我们团结在一起，努力让事情变得更好，互相提升，成为最好的自己。云想努力创造舒适的工作环境，让每个团队成员都能感受到支持，以发挥他们的全部潜力.
            </div>
        </div>
        <div class="row item justify-content-md-center mb-5 lh-base">
            @foreach (var item in Model)
            {
                <div class="col-9 mb-4">
                    <h2 class="display-7">
                        <a asp-action="Details" asp-route-id="@item?.Id">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </h2>
                    <div class="fs-5 lh-base"> @Html.DisplayFor(modelItem => item.Description)</div>
                </div>


            }
        </div>
    </div>
</div>


