@model StoreYx.Models.Career
@{
    ViewData["Title"] = "新增职位";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
</div>
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label class="form-label" for="Title">标题</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
           <div class="form-group mb-3">
                <label class="form-label" for="Description">摘要</label><span asp-validation-for="Description" class="text-danger"></span>
                <textarea asp-for="Description" class="form-control" rows="3" type="text" id="BodyInputField">
                </textarea>
               </div>
               
               
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> 是否展示
                </label>
            </div>

                        <link rel="stylesheet" href="/editormd/css/editormd.css" />
            <div class="form-group mb-3">
                <label class="form-label" for="Body">正文 (Markdown 格式)</label> <span asp-validation-for="Body" class="text-danger"></span>
                <div id="editor">
                    <textarea asp-for="Body" style="display:none;" type="text" id="BodyInputField">
                </textarea>
                </div>
            </div>

   
            <div class="form-group">
                <input type="submit" value="创建" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
    @{
    await Html.RenderPartialAsync("_EditormdPartial");
}
}
